body{font-family: Arial, sans-serif; background-color: white; font-size: 90%; text-align: center;} 
h1 {color: black; font-family: Arial; text-align: center;}
#ima1 {width: 70%; text-align: center;}
h2{color: black;}
ul {color: black; text-align: center; font-family: Arial;}
li {color: black; text-align: center; font-family: Arial;}